@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{
    --primary-color:#ffe8df;
    --secondary-color:#ffffff;
    --treed-color: #888888;  
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.menu{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    justify-content: ;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    
}